@import './tokens.css';
@import './fonts.css';

@layer base {
  html {
    --font-pretendard: 'Pretendard Variable', Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
      'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  }

  body {
    font-family: var(--font-pretendard);
  }

  html,
  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    background: var(--background);
    color: var(--text-sub);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s ease;
  }

  p {
    margin: 0;
    word-break: keep-all;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  em {
    font-style: normal;
    word-break: keep-all;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    word-break: keep-all;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }

  ul,
  li,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  input,
  textarea,
  select {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
  }

  textarea {
    resize: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--text-sub) !important;
  }
}
